[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==2.3.2"
pymongo = "==4.6.3"
requests = "==2.32.2"

[dev-packages]

[requires]
python_version = "3.12"
